Is there any association between a particular type of opioid and number of overdose deaths?

In [2]:
from sqlalchemy import create_engine, text

In [3]:
import pandas as pd

In [4]:
database_name = 'prescribers'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5433/{database_name}"

In [5]:
engine = create_engine(connection_string)

In [6]:
fips_county = 'SELECT * FROM fips_county'

In [7]:
with engine.connect() as connection:
    fips = pd.read_sql(text(fips_county), con = connection)

fips.head()

    county state fipscounty fipsstate
0  AUTAUGA    AL      01001        01
1  BALDWIN    AL      01003        01
2  BARBOUR    AL      01005        01
3     BIBB    AL      01007        01
4   BLOUNT    AL      01009        01

In [19]:
TN_fips=fips.loc[fips['state']=='TN']

In [21]:
TN_fips

          county state fipscounty fipsstate
2470    ANDERSON    TN      47001        47
2471     BEDFORD    TN      47003        47
2472      BENTON    TN      47005        47
2473     BLEDSOE    TN      47007        47
2474      BLOUNT    TN      47009        47
...          ...   ...        ...       ...
2561     WEAKLEY    TN      47183        47
2562       WHITE    TN      47185        47
2563  WILLIAMSON    TN      47187        47
2564      WILSON    TN      47189        47
2565   STATEWIDE    TN      47990        47

[96 rows x 4 columns]