In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [8]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\aveen\anaconda3\envs\geospatial\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from sqlalchemy import create_engine, text
import pandas as pd

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [10]:
database_name = 'joins2'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [11]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [12]:
import pandas as pd

First, let's write a meaningful query.

In [38]:
drug_query = 'SELECT * FROM drug'

In [39]:
prescriber_query = 'SELECT * FROM prescriber'

In [40]:
zip_fips_query = 'SELECT * FROM zip_fips'

In [47]:
prescription_query = 'SELECT * FROM prescription'

In [48]:
cbsa_query = 'SELECT * FROM cbsa'

Now, bring it all together using the following syntax.

In [49]:
with engine.connect() as connection:
    prescribers_df = pd.read_sql(text(prescribers_query), con=connection)
    drug_df = pd.read_sql(text(drug_query), con=connection)
    zip_fips_df = pd.read_sql(text(zip_fips_query), con=connection)
    prescription_df = pd.read_sql(text(prescription_query), con=connection)
    cbsa_df =  pd.read_sql(text(cbsa_query), con=connection)
    print(prescribers_df.head())
    print("---------------------------")
    print(drug_df.head())
    print("---------------------------")
    print(zip_fips_df.head())
    print("---------------------------")
    print(prescription_df.head())

                        drug_name                    generic_name  \
0        1ST TIER UNIFINE PENTIPS            PEN NEEDLE, DIABETIC
1   1ST TIER UNIFINE PENTIPS PLUS            PEN NEEDLE, DIABETIC
2                        ABACAVIR                ABACAVIR SULFATE
3             ABACAVIR-LAMIVUDINE     ABACAVIR SULFATE/LAMIVUDINE
4  ABACAVIR-LAMIVUDINE-ZIDOVUDINE  ABACAVIR/LAMIVUDINE/ZIDOVUDINE

  opioid_drug_flag long_acting_opioid_drug_flag antibiotic_drug_flag  \
0                N                            N                    N
1                N                            N                    N
2                N                            N                    N
3                N                            N                    N
4                N                            N                    N

  antipsychotic_drug_flag
0                       N
1                       N
2                       N
3                       N
4                       N
---------------------------
                        drug_name                    generic_name  \
0        1ST TIER UNIFINE PENTIPS            PEN NEEDLE, DIABETIC
1   1ST TIER UNIFINE PENTIPS PLUS            PEN NEEDLE, DIABETIC
2                        ABACAVIR                ABACAVIR SULFATE
3             ABACAVIR-LAMIVUDINE     ABACAVIR SULFATE/LAMIVUDINE
4  ABACAVIR-LAMIVUDINE-ZIDOVUDINE  ABACAVIR/LAMIVUDINE/ZIDOVUDINE

  opioid_drug_flag long_acting_opioid_drug_flag antibiotic_drug_flag  \
0                N                            N                    N
1                N                            N                    N
2                N                            N                    N
3                N                            N                    N
4                N                            N                    N

  antipsychotic_drug_flag
0                       N
1                       N
2                       N
3                       N
4                       N
---------------------------
     zip fipscounty  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  00501      36103   0.000000    1.00000   0.000000   1.000000
1  00601      72113   0.160724    0.20098   0.128834   0.162500
2  00601      72001   0.839276    0.79902   0.871166   0.837500
3  00602      72003   1.000000    0.99880   1.000000   0.999919
4  00602      72005   0.000000    0.00120   0.000000   0.000081
---------------------------
            npi       drug_name  bene_count  total_claim_count  \
0  1.427076e+09  RALOXIFENE HCL         NaN               18.0
1  1.003858e+09     GLIMEPIRIDE         NaN               12.0
2  1.184627e+09  TAMSULOSIN HCL         NaN               14.0
3  1.306111e+09         SPIRIVA         NaN               13.0
4  1.285658e+09         SPIRIVA         NaN               13.0

   total_30_day_fill_count  total_day_supply  total_drug_cost  \
0                     28.0             840.0          1009.66
1                     16.0             480.0           270.86
2                     24.0             698.0           353.62
3                     13.0             390.0          4783.28
4                     13.0             390.0          4855.95

   bene_count_ge65 bene_count_ge65_suppress_flag  total_claim_count_ge65  \
0              NaN                             *                    18.0
1              NaN                             *                     NaN
2              NaN                             #                     NaN
3              NaN                             *                     NaN
4              NaN                             #                     NaN

  ge65_suppress_flag  total_30_day_fill_count_ge65  total_day_supply_ge65  \
0               None                          28.0                  840.0
1                  *                           NaN                    NaN
2                  #                           NaN                    NaN
3                  *                           NaN                    NaN
4                  #                           NaN                    NaN

   total_drug_cost_ge65
0               1009.66
1                   NaN
2                   NaN
3                   NaN
4                   NaN

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python